/*----------------------------------------------------
GLOBAL

Main font is Minion Pro set by Typekit.
----------------------------------------------------*/

/* Browser */

body { 
  padding: 30px;
  text-align: center;
  background-color: #fff;
  color: #222;
}

body, h1, h2, h3, h4, h5, p {
  font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
}

img {
  border: 0;
}

a {
  color: #336699;
}

a:hover {
  color: #6699cc;
}

a:active, a:focus {
  outline: 0;
}

hr {
  clear: both;
  border: 0;
  background: white url('/images/img-hr.png') no-repeat scroll 50% 50%;
  color: transparent;
  height: 12px;
}

div.container, div.footer {
  margin: 0 auto 30px;
  width: 820px;
  padding: 0;
}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -2px;
	color: #232323;
}

h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h6 {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #cc0000;
}

/*----------------------------------------------------
NAV
----------------------------------------------------*/

div.nav {
  text-align: right;
  padding: 10px;
  margin: -30px 0 20px 0;
}

div.nav ul {
  margin: 0;
  padding: 0;
}

div.nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0 10px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.nav ul li.date {
	float: left;
	padding-top: 4px;
	color: #999;
}

body.index div.nav ul li.home {
  display: none;
}

body.index div.nav ul li.logo {
  display: none;
  padding: 0;
}

div.nav ul li img.logo {
  margin-top: -5px;
}

div.nav ul li a {
  text-decoration: none;
}

div.nav ul li a.signin {
color: #18afe0;
}

div.nav ul li a.signin:hover {
  color: #336699;
}

/*----------------------------------------------------
INDEX
----------------------------------------------------*/

/* PRODUCTS */

body.index h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

body.index div.box-container {
  padding-left: 15px;
  overflow: hidden;
}

#anonymous_element_2 {
    margin-left: 100px;
}

body.index div.box-container div.headline {
  width: 825px;
  margin-left: -20px;
}

body.index a.box {
  width: 160px;
  margin: 15px 20px 5px 0;
  float: left;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #efefef;
  -moz-box-shadow: 0 0 5px #efefef;
  box-shadow: 0 0 5px #efefef;
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: -moz-linear-gradient(top,  #fff,  #efefef);
}

body.index a.box.hover {
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background: -moz-linear-gradient(top,  #fff,  #e8e8e8);
}

body.index a.box.end,
body.index div.column.end {
  margin-right: 0;
}

body.index a.box h3 {
  font-size: 21px;
  margin: 3px 0 0 10px;
  color: #222;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
}

body.index a.box h3 sup {
  color: #999;
  font-weight: normal;
  font-size: 11px;
}

body.index a.box h4 {
  margin: 5px 0 10px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #cc0000;
}

body.index a.box p {
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body.index a.box p.action {
  display: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 7px 0;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background: -moz-linear-gradient(top,  #fff,  #e8e8e8);
  color: #336699;
}

body.index a.box.hover p.blurb { display: none; }
body.index a.box.hover p.action { display: block; }

body.index a.box div.product {
  display: none;
  position: absolute;
  margin: -220px 0 0 -35px;
  background-color: #fff;
  width: 825px;
  height: 180px;
}

body.index a.box div.product h1 {
  color: #222;
  margin: 10px 0 15px 0;
  font-size: 46px;
	letter-spacing: -1px;
}

body.index a.box div.product h1 span {
  color: #336699;
  text-decoration: underline;
}

body.index a.box div.product p { font-size: 15px; }
body.index a.box div.product img.arrow { margin-top: -10px; }

body.index a.box div.product.bc img.arrow { float: left; margin-left: 140px; }
body.index a.box div.product.hr img.arrow { float: left; margin-left: 340px; }
body.index a.box div.product.bp img.arrow { float: left; margin-left: 395px; }
body.index a.box div.product.cf img.arrow { float: left; margin-left: 600px; }

body.index a.box div.product.bc { z-index: 2; }
body.index a.box div.product.hr { z-index: 4; margin-left: -230px; }
body.index a.box div.product.bp { z-index: 6; margin-left: -430px; }
body.index a.box div.product.cf { z-index: 8; margin-left: -630px; }

body.index a.box.hover div.product { display: block; }

/* CUSTOMERS */

body.index div.customers div.meet {
  position: absolute;
  margin-left: -125px;
  margin-top: 50px;
}

body.index div.customers div.meet img.arrow {
  position: absolute;
  left: 120px;
  top: 65px;
}

body.index div.customers div.meet a.thumbnails {
  display: block;
  width: 143px;
  height: 104px;
  background: url('/images/img-customers.png') no-repeat 0 0;
  text-indent: -1000em;
}

body.index div.customers div.meet a.thumbnails:hover {
  background: url('/images/img-customers.png') no-repeat 0 bottom;
}

body.index div.customers div.meet p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

body.index div.customers p {
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3em;
  color: #666;
}

body.index div.customers img.logos { margin: 10px 0 30px; }

/* MANIFESTO */

body.index div.column { width: 380px; float: left; margin-right: 40px; }

body.index div.column div.belief {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  overflow: hidden;
  margin: 20px 0;
}

body.index div.column div.belief.top { margin-top: 0; }
body.index div.column div.belief.bottom { margin-bottom: 0; }

body.index div.column div.belief h3 { float: left; font-size: 58px; font-weight: 500; line-height: normal; margin: -10px 15px 0 0; color: #ccc; }

body.index div.column div.belief h4 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #cc0000;
}

body.index div.column div.belief p {
  margin: 0 0 0 45px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* REWORK */

body.index div.rework div.quotes {
  padding-top: 5px;
}

body.index div.rework div.quotes h3 {
  color: #888;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  margin: 35px 0 10px;
}

body.index div.rework div.quotes p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
}

body.index div.rework div.read {
  position: absolute;
  margin-left: 790px;
  margin-top: 50px;
}

body.index div.rework div.read img.arrow {
  position: absolute;
  top: 70px;
  left: -50px;
}

body.index div.rework div.read p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center;
}


/*----------------------------------------------------
ABOUT
----------------------------------------------------*/

body.about div.clear {
  clear: both;
}

body.about div.timeline {
  width: 450px;
  padding: 15px;
  margin: 0 auto 20px;
}

body.about div.timeline h5 {
  color: #222;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  line-height: 1.3em;
}

body.about div.timelinecontents {
  background-image: url('/images/bkgd_timeline.png');
  margin: 30px 0 15px 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: normal;
  font-size: 11px; 
  overflow: hidden;
}

body.about div.leftimage {
  float: left;
  padding: 5px;
  text-align: center;
  width: 145px;
}

body.about div.rightimage {
  float: right;
  padding: 5px;
  text-align: center;
  width: 145px;
}

body.about div.timeblock {
  border-top: 2px solid #999;
  padding-top: 10px;
  width: 290px;
  line-height: normal;
  overflow: hidden;
}

body.about div.timeblock-right {
  border-top: 2px solid #999;
  width: 290px;
  line-height: normal;
  padding-top: 10px;
  float: right;
}

body.about div.threesevenevent {
  border-top: 2px solid #cc0000;
}

body.about div.timelinecontents div.year {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #999;
  font-size: 24px;
  float: left;
  margin-left: 25px;
}

body.about div.timeblock-right div.year {
  margin-right: 25px;
  margin-left: 0;
}

body.about div.threesevenevent div.year {
  color: #cc0000;
}

body.about div.timelinecontents div.eventcontents {
  width: 210px;
  float: left;
  text-align: left;
}

body.about table.team {
  margin: 0 auto 10px;
  width: 490px;
}

body.about table.team td {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

body.about table.team td p {
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  line-height: 1.4em;
}

body.about table.team td h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  margin: 0 0 10px;
  font-size: 14px;
  color: #cc0000;
}

body.about table.team td.photo {
  padding: 0;
}

/*----------------------------------------------------
KEYNOTES
----------------------------------------------------*/

body.keynotes div.vidcontent {
  width: 720px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body.keynotes div.vidcontent hr {
  margin-bottom: 50px;
}

body.keynotes div.vidcontainer {
  margin: 30px 0;
  overflow: hidden;
}

body.keynotes div.video {
  float: left;
  overflow: hidden;
}

body.keynotes div.video object {
  margin-bottom: 15px;
}

body.keynotes div.viddata {
  float: left;
  margin-left: 20px;
  overflow: hidden;
  width: 220px;
  text-align: left;
}

body.keynotes div.tag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px;
  color: #fff;
  margin: 5px;
  float: left;
  font-size: 11px;
}

body.keynotes div.business {
  background-color: #669933;
}

body.keynotes div.design {
  background-color: #4a97c8;
}

body.keynotes div.programming {
  background-color: #ba2a2a;
}

body.keynotes div.general {
  background-color: #222;
}

body.keynotes div.vidcontainer table {
  margin-top: 25px;
  margin-left: 5px;
}

body.keynotes div.vidcontainer table td.label {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  text-align: left;
}

body.keynotes div.vidcontainer table td.value {
  padding: 5px 0 5px 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  text-align: left;
}

body.keynotes div.vidcontainer table td.last {
  border-bottom: none;
}

body.keynotes div.viddescription {
  width: 720px;
  overflow: hidden;
  text-align: left;
}

body.keynotes div.viddescription h2 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: normal;
}

body.keynotes div.viddescription h2 a {
  color: #222;
  text-decoration: none;
}

body.keynotes div.viddescription p {
  margin-top: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 14px;
}

body.keynotes div.audio {
  width: 440px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body.keynotes div.audio ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

body.keynotes div.audio li {
  margin-left: 0;
  background-image: url(/images/icon_speaker.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 23px;
  padding-bottom: 15px;
  line-height: 1.5em;
  font-size: 12px;
  color: #888;
  text-align: left;
}

body.keynotes div.audio a {
  color: #444;
  font-weight: bold;
}

body.keynotes div.audio a:hover {
  color: #222;
}

/*----------------------------------------------------
CUSTOMERS
----------------------------------------------------*/

body.customers div.profiles {
  overflow: hidden;
  width: 1000px;
  margin: 30px 0 30px -90px;
}

body.customers div.profiles hr {
  background: none;
  height: 1px;
  margin: 15px 0;
}

body.customers div.profiles div.profile {
  width: 280px;
  margin: 0 15px;
  padding: 0 10px;
  text-align: left;
  float: left;
}

body.customers div.profiles div.profile img.arrow {
  position: absolute;
  margin-left: 110px;
  margin-top: 90px;
}

body.customers div.profiles div.profile h2 {
  font-size: 21px;
  line-height: 1.0em;
  margin: -3px 0 5px 0;
  letter-spacing: normal;
}

body.customers div.profiles div.profile.generic h2 {
  color: #cc0000;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 19px;
  font-weight: bold;
}

body.customers div.profiles div.profile h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #222;
  margin: 0;
}

body.customers div.profiles div.profile p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  color: #222;
  margin: 10px 0;
  line-height: 1.4em;
}

body.customers div.profiles div.profile p span {
  text-transform: uppercase;
}

body.customers div.profiles div.profile div.photo {
  overflow: hidden;
  padding: 5px 0;
}

body.customers div.profiles div.profile div.photo img {
  margin: 10px;
  float: left;
  -webkit-box-shadow: 0 0 6px #333;
  -moz-box-shadow: 0 0 6px #333;
  box-shadow: 0 0 6px #333;
}

body.customers div.profiles div.profile div.photo img.tilt-right {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  rotation: 5deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

body.customers div.profiles div.profile div.photo img.tilt-left {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  rotation: -5deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

body.customers div.abingdon { background: url('/images/customers/map-abingdon.png') no-repeat 0 top; }
body.customers div.amsterdam { background: url('/images/customers/map-amsterdam.png') no-repeat 0 top; }
body.customers div.antwerp { background: url('/images/customers/map-antwerp.png') no-repeat 0 top; }
body.customers div.athens { background: url('/images/customers/map-athens.png') no-repeat 0 top; }
body.customers div.atlanta { background: url('/images/customers/map-atlanta.png') no-repeat 0 top; }
body.customers div.auckland { background: url('/images/customers/map-auckland.png') no-repeat 0 top; }
body.customers div.austin { background: url('/images/customers/map-austin.png') no-repeat 0 top; }
body.customers div.baltimore { background: url('/images/customers/map-baltimore.png') no-repeat 0 top; }
body.customers div.bangkok { background: url('/images/customers/map-bangkok.png') no-repeat 0 top; }
body.customers div.beijing { background: url('/images/customers/map-beijing.png') no-repeat 0 top; }
body.customers div.berlin { background: url('/images/customers/map-berlin.png') no-repeat 0 top; }
body.customers div.bocaraton { background: url('/images/customers/map-bocaraton.png') no-repeat 0 top; }
body.customers div.boston { background: url('/images/customers/map-boston.png') no-repeat 0 top; }
body.customers div.boulder { background: url('/images/customers/map-boulder.png') no-repeat 0 top; }
body.customers div.bratislava { background: url('/images/customers/map-bratislava.png') no-repeat 0 top; }
body.customers div.brisbane { background: url('/images/customers/map-brisbane.png') no-repeat 0 top; }
body.customers div.burlington { background: url('/images/customers/map-burlington.png') no-repeat 0 top; }
body.customers div.calgary { background: url('/images/customers/map-calgary.png') no-repeat 0 top; }
body.customers div.capetown { background: url('/images/customers/map-capetown.png') no-repeat 0 top; }
body.customers div.centurion { background: url('/images/customers/map-centurion.png') no-repeat 0 top; }
body.customers div.charlotte { background: url('/images/customers/map-charlotte.png') no-repeat 0 top; }
body.customers div.chattanooga { background: url('/images/customers/map-chattanooga.png') no-repeat 0 top; }
body.customers div.chicago { background: url('/images/customers/map-chicago.png') no-repeat 0 top; }
body.customers div.clackamas { background: url('/images/customers/map-clackamas.png') no-repeat 0 top; }
body.customers div.cleveland { background: url('/images/customers/map-cleveland.png') no-repeat 0 top; }
body.customers div.cluj { background: url('/images/customers/map-cluj.png') no-repeat 0 top; }
body.customers div.coloradosprings { background: url('/images/customers/map-coloradosprings.png') no-repeat 0 top; }
body.customers div.commerce { background: url('/images/customers/map-commerce.png') no-repeat 0 top; }
body.customers div.csu { background: url('/images/customers/map-csu.png') no-repeat 0 top; }
body.customers div.dallas { background: url('/images/customers/map-dallas.png') no-repeat 0 top; }
body.customers div.danville { background: url('/images/customers/map-danville.png') no-repeat 0 top; }
body.customers div.dc { background: url('/images/customers/map-dc.png') no-repeat 0 top; }
body.customers div.edmonton { background: url('/images/customers/map-edmonton.png') no-repeat 0 top; }
body.customers div.eugene { background: url('/images/customers/map-eugene.png') no-repeat 0 top; }
body.customers div.edmonton { background: url('/images/customers/map-edmonton.png') no-repeat 0 top; }
body.customers div.evanston { background: url('/images/customers/map-evanston.png') no-repeat 0 top; }
body.customers div.feldkirch { background: url('/images/customers/map-feldkirch.png') no-repeat 0 top; }
body.customers div.forde { background: url('/images/customers/map-forde.png') no-repeat 0 top; }
body.customers div.fortworth { background: url('/images/customers/map-fortworth.png') no-repeat 0 top; }
body.customers div.generic { background: url('/images/customers/map-generic.png') no-repeat 0 top; }
body.customers div.indy { background: url('/images/customers/map-indianapolis.png') no-repeat 0 top; }
body.customers div.istanbul { background: url('/images/customers/map-istanbul.png') no-repeat 0 top; }
body.customers div.jerusalem { background: url('/images/customers/map-jerusalem.png') no-repeat 0 top; }
body.customers div.kc { background: url('/images/customers/map-kc.png') no-repeat 0 top; }
body.customers div.kiev { background: url('/images/customers/map-kiev.png') no-repeat 0 top; }
body.customers div.la { background: url('/images/customers/map-la.png') no-repeat 0 top; }
body.customers div.langley { background: url('/images/customers/map-langley.png') no-repeat 0 top; }
body.customers div.lasvegas { background: url('/images/customers/map-lasvegas.png') no-repeat 0 top; }
body.customers div.lehigh { background: url('/images/customers/map-lehigh.png') no-repeat 0 top; }
body.customers div.lincoln { background: url('/images/customers/map-lincoln.png') no-repeat 0 top; }
body.customers div.london { background: url('/images/customers/map-london.png') no-repeat 0 top; }
body.customers div.louisville { background: url('/images/customers/map-louisville.png') no-repeat 0 top; }
body.customers div.madrid { background: url('/images/customers/map-madrid.png') no-repeat 0 top; }
body.customers div.manchester { background: url('/images/customers/map-manchester.png') no-repeat 0 top; }
body.customers div.malmo { background: url('/images/customers/map-malmo.png') no-repeat 0 top; }
body.customers div.marbella { background: url('/images/customers/map-marbella.png') no-repeat 0 top; }
body.customers div.marseille { background: url('/images/customers/map-marseille.png') no-repeat 0 top; }
body.customers div.melbourne { background: url('/images/customers/map-melbourne.png') no-repeat 0 top; }
body.customers div.miami { background: url('/images/customers/map-miami.png') no-repeat 0 top; }
body.customers div.miamibeach { background: url('/images/customers/map-miamibeach.png') no-repeat 0 top; }
body.customers div.milan { background: url('/images/customers/map-milan.png') no-repeat 0 top; }
body.customers div.minneapolis { background: url('/images/customers/map-minneapolis.png') no-repeat 0 top; }
body.customers div.modena { background: url('/images/customers/map-modena.png') no-repeat 0 top; }
body.customers div.monterrey { background: url('/images/customers/map-monterrey.png') no-repeat 0 top; }
body.customers div.moscow { background: url('/images/customers/map-moscow.png') no-repeat 0 top; }
body.customers div.moscowidaho { background: url('/images/customers/map-moscowidaho.png') no-repeat 0 top; }
body.customers div.napa { background: url('/images/customers/map-napa.png') no-repeat 0 top; }
body.customers div.naperville { background: url('/images/customers/map-naperville.png') no-repeat 0 top; }
body.customers div.newdelhi { background: url('/images/customers/map-newdelhi.png') no-repeat 0 top; }
body.customers div.newark { background: url('/images/customers/map-newark.png') no-repeat 0 top; }
body.customers div.newcastleupontyne { background: url('/images/customers/map-newcastleupontyne.png') no-repeat 0 top; }
body.customers div.newyork { background: url('/images/customers/map-newyork.png') no-repeat 0 top; }
body.customers div.norwich { background: url('/images/customers/map-norwich.png') no-repeat 0 top; }
body.customers div.novisad { background: url('/images/customers/map-novisad.png') no-repeat 0 top; }
body.customers div.nutley { background: url('/images/customers/map-nutley.png') no-repeat 0 top; }
body.customers div.ottawa { background: url('/images/customers/map-ottawa.png') no-repeat 0 top; }
body.customers div.oxford { background: url('/images/customers/map-oxford.png') no-repeat 0 top; }
body.customers div.oxfordmi { background: url('/images/customers/map-oxfordmi.png') no-repeat 0 top; }
body.customers div.panamacity { background: url('/images/customers/map-panamacity.png') no-repeat 0 top; }
body.customers div.paris { background: url('/images/customers/map-paris.png') no-repeat 0 top; }
body.customers div.peabody { background: url('/images/customers/map-peabody.png') no-repeat 0 top; }
body.customers div.peoria { background: url('/images/customers/map-peoria.png') no-repeat 0 top; }
body.customers div.perth { background: url('/images/customers/map-perth.png') no-repeat 0 top; }
body.customers div.philadelphia { background: url('/images/customers/map-philadelphia.png') no-repeat 0 top; }
body.customers div.pittsburgh { background: url('/images/customers/map-pittsburgh.png') no-repeat 0 top; }
body.customers div.portland { background: url('/images/customers/map-portland.png') no-repeat 0 top; }
body.customers div.prague { background: url('/images/customers/map-prague.png') no-repeat 0 top; }
body.customers div.raleigh { background: url('/images/customers/map-raleigh.png') no-repeat 0 top; }
body.customers div.riga { background: url('/images/customers/map-riga.png') no-repeat 0 top; }
body.customers div.rochestermichigan { background: url('/images/customers/map-rochestermichigan.png') no-repeat 0 top; }
body.customers div.rockford { background: url('/images/customers/map-rockford.png') no-repeat 0 top; }
body.customers div.saintaugustine { background: url('/images/customers/map-saintaugustine.png') no-repeat 0 top; }
body.customers div.sanjose { background: url('/images/customers/map-sanjose.png') no-repeat 0 top; }
body.customers div.sanramon { background: url('/images/customers/map-sanramon.png') no-repeat 0 top; }
body.customers div.santiago { background: url('/images/customers/map-santiago.png') no-repeat 0 top; }
body.customers div.seef { background: url('/images/customers/map-seef.png') no-repeat 0 top; }
body.customers div.sf { background: url('/images/customers/map-sf.png') no-repeat 0 top; }
body.customers div.skipton { background: url('/images/customers/map-skipton.png') no-repeat 0 top; }
body.customers div.suva { background: url('/images/customers/map-suva.png') no-repeat 0 top; }
body.customers div.taganrog { background: url('/images/customers/map-taganrog.png') no-repeat 0 top; }
body.customers div.tallahassee { background: url('/images/customers/map-tallahassee.png') no-repeat 0 top; }
body.customers div.tampa { background: url('/images/customers/map-tampa.png') no-repeat 0 top; }
body.customers div.thessaloniki { background: url('/images/customers/map-thessaloniki.png') no-repeat 0 top; }
body.customers div.toronto { background: url('/images/customers/map-toronto.png') no-repeat 0 top; }
body.customers div.vancouver { background: url('/images/customers/map-vancouver.png') no-repeat 0 top; }
body.customers div.ventura { background: url('/images/customers/map-ventura.png') no-repeat 0 top; }
body.customers div.vienna { background: url('/images/customers/map-vienna.png') no-repeat 0 top; }
body.customers div.universityplace { background: url('/images/customers/map-universityplace.png') no-repeat 0 top; }
body.customers div.westpalmbeach { background: url('/images/customers/map-westpalmbeach.png') no-repeat 0 top; }

body.customers div.credits p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #999;
  font-size: 10px;
  margin-bottom: 30px;
}

/*----------------------------------------------------
SECURITY
----------------------------------------------------*/

body.security div.box-container {
  margin-bottom: 20px;
  overflow: hidden;
}

body.security div.column { width: 380px; float: left; margin-right: 40px; }
body.security div.column.end { margin-right: 0; }

body.security div.fullcolumn { width: 560px; overflow: hidden; margin: 0 auto; }

body.security div.column div.fact,
body.security div.fullcolumn div.fact {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  overflow: hidden;
  margin: 20px 0;
}

body.security div.column div.fact h3,
body.security div.fullcolumn div.fact h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #cc0000;
}

body.security div.column div.fact p,
body.security div.fullcolumn div.fact p {
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body.security div.fullcolumn div.fact ul.links { margin: 10px 0 0 0; padding: 0; }
body.security div.fullcolumn div.fact ul li { padding: 10px 0; }
body.security div.fullcolumn div.fact ul.links li { list-style-type: none; padding: 5px 0;}

body.security img.logos { margin-bottom: 30px; }

/*----------------------------------------------------
HELP
----------------------------------------------------*/

body.help div.form { margin: 30px 0; overflow: hidden; }

body.help div.sidebar {
  float: right;
  width: 150px;
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  overflow: hidden;
  font-size: 11px;
  margin-left: 30px;
}

body.help div.sidebar h6 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

body.help div.form div.supportform {
  text-align: left;
  width: 620px;
}

body.help div.form div.supportform h6 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
}

body.help div.form div.supportform form h6 {
  color: #222;
  font-size: 14px;
  margin: 20px 0 5px;
}

body.help div.form div.supportform form h6 span {
  color: #339900;
  font-weight: normal;
}

body.help div.form div.supportform form select {
  font-size: 18px;
  padding: 3px;
}

body.help div.form div.supportform form textarea {
  background-color: #FDFEF1;
  font-family: courier, monospace;
  font-size: 14px;
  height: 200px;
  padding: 3px;
  width: 550px;
}

body.help div.form div.supportform form input {
  background-color: #FDFEF1;
  font-family: courier, monospace;
  font-size: 14px;
  padding: 3px;
  width: 350px;
}

body.help div.form div.supportform form input.button {
  background-color: white;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  width: auto;
}

body.help div.form div.supportform form p.details {
  margin: 0 0 5px;
  font-size: 11px;
}

body.help div.form div.supportform p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
}

body.help div.form div.supportform p span.highlight {
  background-color: #ffffcc;
  padding: 5px;
}

body.help div.form div.supportform div.faq {
  border: 1px solid #ccc;
  border-left: 0; border-right: 0;
  padding: 10px 0;
}

body.help div.form div.supportform div.faq ul { margin: 10px 0 0 0; padding: 0; }
body.help div.form div.supportform div.faq li {
  list-style-type: none;
  padding: 5px 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
}

body.help div.box-container {
  margin: 30px 0;
  overflow: hidden;
}

body.help div.box-container div.sidebar {
  margin-top: 20px;
}

body.help div.column { width: 600px; float: left; margin-right: 20px; }

body.help div.column div.fact {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.4em;
  font-size: 12px;
  overflow: hidden;
  margin: 20px 0;
}

body.help div.column div.fact h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
  margin: 5px 0;
  color: #cc0000;
}

body.help div.column div.fact p {
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/*----------------------------------------------------
CANCEL/REFUND/404/WEBBASED
----------------------------------------------------*/

body.cancel h1 {
  width: 820px;
  margin: 40px auto 20px;
}

body.cancel div.content,
body.cancel div.crosssell,
body.refund div.content,
body.error div.content,
body.webbased div.content {
  width: 670px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  font-size: 26px;
  font-weight: 500;
}

body.cancel div.content p,
body.refund div.content p,
body.error div.content p,
body.webbased div.content p {
  line-height: 1.4em;
}

body.cancel div.content p span,
body.cancel div.crosssell p span,
body.refund div.content p span,
body.error div.content p span,
body.webbased div.content p span {
  color: #cc0000;
}

body.cancel div.crosssell {
  border-top: 3px double #ccc;
}

body.webbased p img.logos {
  margin-bottom: 20px;
}

/*----------------------------------------------------
ACCOUNTS
----------------------------------------------------*/

body.accounts div.container {
  width: 1000px;
}

body.accounts div.container div.card {
  width: 960px;
  margin: 10px auto 35px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  box-shadow: 0 0 5px #777;
}

body.accounts div.container div.card div.cardcontent {
  padding: 0;
  padding-bottom: 20px;
  text-align: left;
  overflow: hidden;
}

body.accounts div.container div.card div.cardcontent h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 0.95em;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 30px;
  clear: none;
}

body.accounts div.container div.card div.cardcontent h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #777;
  line-height: 1.2em;
  margin-top: 10px;
  margin-left: 30px;
}

body.accounts div.container div.card div.cardcontent div.tour-left {
  overflow: hidden;
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
  text-align: left;
}

body.accounts div.container div.card div.cardcontent div.tour-left h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  border-top: 1px solid #ccc;
  font-size: 22px;
  margin-left: 15px;
  padding-left: 375px;
  padding-top: 30px;
  padding-right: 20px;
  margin-top: 0;
	margin-bottom: 10px;
  text-align: left;
}

body.accounts div.container div.card div.cardcontent div.tour-right {
  overflow: hidden;
  padding: 20px;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
}

body.accounts div.container div.card div.cardcontent div.tour-right h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  border-top: 1px solid #ccc;
  font-size: 22px;
  margin-left: 0;
  margin-right: 15px;
	margin-bottom: 10px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  margin-top: 0;
  text-align: left;
}

body.accounts h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
}

body.accounts div.container div.card div.cardcontent div.tour-copy {
  width: 520px;
  float: left;
  margin-left: 30px;
}

body.accounts div.container div.card div.cardcontent div.tour-copy p {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  margin-top: 0;
  line-height: 20px;
}

body.accounts div.container div.card div.cardcontent div.tour-copy ul {
  list-style-image:url(/images/icon_check.png);
  margin-left: -15px;
  margin-top: 25px;
}

body.accounts div.container div.card div.cardcontent div.tour-copy li {
  margin: 5px 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

body.accounts div.container div.card div.cardcontent div.tour-copy li span {
  font-weight: normal;
}

body.accounts div.faq {
  border-top: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

body.accounts div.faq h4 {
  margin-top: 30px;
}

body.accounts div.faq h5 {
  font-size: 26px;
  margin: 20px 0 30px 0;
  text-align: left;
}

body.accounts div.faq p {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  margin-top: 0;
  line-height: 1.5em;
	width: 75%;
}

/*----------------------------------------------------
EXTRAS
----------------------------------------------------*/

body.extras div.apps {
  text-align: left;
  width: 740px;
  margin: 0 auto;
}

body.extras div.apps div.intro {
  margin: 30px 0;
}

body.extras div.apps div.intro p {
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  color: #777;
}

body.extras div.apps div.extras-nav {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  color: #ccc;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: center;
}

body.extras div.extrasheader {
  overflow: hidden;
  margin-top: 40px;
}

body.extras div.extrasheader.first {
  margin-top: 20px;
}

body.extras div.extrasheader img {
  margin: 0 10px 10px 0;
}

body.extras div.extrasheader h2 {
  font-size: 24px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 10px;
  line-height: normal;
}

body.extras div.appgroup {
  border-top: 1px solid #ccc;
  margin: 0;
}

body.extras div.appgroup h3 {
  margin: 10px 0 0 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2em;
	color: #000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

body.extras div.appgroup table {
  margin: 30px 0;
}

body.extras div.appgroup td {
  padding:0;
  text-align: left;
}

body.extras div.appgroup td.description {
  padding: 5px 15px 30px 0;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

body.extras div.appgroup td.iphone {
  padding: 0 20px 10px 10px;
  font-family: Verdana, sans-serif;
  font-size: 11px;
	height: 100px;
}

body.extras div.appgroup td.iphone p {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body.extras div.appgroup h4 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.2em;
}

body.extras div.appgroup img {
  border: 1px solid #ccc;
	padding: 1px;
}

body.extras div.appgroup img.iphone {
  border: 0;
	padding: 0;
}

/*----------------------------------------------------
SUITE
----------------------------------------------------*/

body.suite div.container {
  width: 1000px;
}

body.suite div.container div.card {
  width: 960px;
  margin: 10px auto 35px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  box-shadow: 0 0 5px #777;
}

body.suite div.container div.card div.cardcontent {
  padding: 0;
  padding-bottom: 20px;
  text-align: left;
  overflow: hidden;
}

body.suite div.container div.card div.cardcontent div.intro {
  overflow: hidden;
  padding: 0 0 15px 20px;
  text-align: left;
}

body.suite div.container div.card div.cardcontent div.intro h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 46px;
  letter-spacing: -1px;
  line-height: 1.1em;
  font-weight: bold;
  margin: 40px 0 15px 30px;
  clear: none;
}

body.suite div.container div.card div.cardcontent div.intro h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 1.1em;
  margin: 0 0 0 30px;
  letter-spacing: normal;
}

body.suite div.container div.card div.cardcontent div.intro ul {
  margin-left: 12px;
  list-style-image: url(/images/icon_check.png);
}

body.suite div.container div.card div.cardcontent div.intro ul li {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #777;
  padding: 3px 0;
}

body.suite div.container div.card div.cardcontent div.upgrade-action {
  background-color: #c7df8e;
  padding: 10px;
  margin: 0 30px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}

body.suite div.container div.card div.cardcontent div.upgrade-action p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

body.suite div.container div.card div.cardcontent div.app {
  overflow: hidden;
  text-align: left;
  clear: both;
  padding: 20px 0;
  margin: 20px 0;
}

body.suite div.container div.card div.cardcontent div.app.left {
  padding-left: 380px;
  padding-right: 50px;
}

body.suite div.container div.card div.cardcontent div.app.right {
  padding-right: 380px;
  padding-left: 50px;
}

body.suite div.container div.card div.cardcontent div.bc { background: url('/images/bkgd-bc.png') no-repeat; }
body.suite div.container div.card div.cardcontent div.hr { background: url('/images/bkgd-hr.png') no-repeat right; }
body.suite div.container div.card div.cardcontent div.bp { background: url('/images/bkgd-bp.png') no-repeat; }
body.suite div.container div.card div.cardcontent div.cf { background: url('/images/bkgd-cf.png') no-repeat right; }

body.suite div.container div.card div.cardcontent div.app h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 21px;
  margin: 10px 0;
  line-height: 1.3em;
}

body.suite div.container div.card div.cardcontent div.app h3 span {
  color: #c00;
}

body.suite div.container div.card div.cardcontent div.app p {
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  margin-top: 0;
  line-height: 1.4em;
}

body.suite div.container div.card div.cardcontent div.app p a {
  color: #222;
}

body.suite div.container div.card div.cardcontent div.app p a:hover {
color: #69C;
}

body.suite div.container div.card div.cardcontent div.upgrade,
body.suite div.container div.card div.cardcontent div.faq {
  border-top: 1px solid #ccc;
  padding: 0 50px 20px 50px;
}

body.suite div.container div.card div.cardcontent div.upgrade h2,
body.suite div.container div.card div.cardcontent div.faq h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1.2em;
  font-weight: bold;
}

body.suite div.container div.card div.cardcontent div.upgrade div.benefits {
  float: right;
  overflow: hidden;
  border: 1px solid #ffcc33;
  background-color: #ffffcc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 15px 0;
  width: 275px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  margin-left: 30px;
}

body.suite div.container div.card div.cardcontent div.upgrade div.benefits ul {
  margin: 0 0 10px -18px;
  list-style-image: url(/images/icon_check.png);
}

body.suite div.container div.card div.cardcontent div.upgrade div.benefits ul li {
  padding: 0 0 20px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
}

body.suite div.container div.card div.cardcontent div.upgrade div.benefits ul li small {
  font-weight: normal;
  font-size: 11px;
}

body.suite div.container div.card div.cardcontent div.upgrade div.benefits h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  color: #cc0000;
  font-size: 16px;
}

body.suite div.container div.card div.cardcontent div.upgrade div.step {
  padding-left: 35px;
  margin: 40px 0;
}

body.suite div.container div.card div.cardcontent div.upgrade div.step img.step {
  margin-left: -35px;
  margin-top: -4px;
} 

body.suite div.container div.card div.cardcontent div.upgrade div.step h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 0 5px;
  line-height: 1.4em;
}

body.suite div.container div.card div.cardcontent div.upgrade div.step p {
}

body.suite div.container div.card div.cardcontent div.upgrade div.step img.screen {
  padding: 1px;
  border: 1px solid #ccc;
}

body.suite div.container div.card div.cardcontent div.faq h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  margin: 30px 0 0;
}

body.suite div.container div.card div.cardcontent div.faq p {
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 3px 0;
}

/*----------------------------------------------------
OFFICE
----------------------------------------------------*/

body.office div.photos {
  width: 1005px;
  margin-left: -92px;
}

body.office div.photos div.photo {
  margin: 50px 0;
}

body.office div.photos div.photo img {
  padding: 1px;
  border: 1px solid #dcdcdc;
}

/*----------------------------------------------------
CONTACT
----------------------------------------------------*/

body.contact div.profile {
  width: 280px;
  margin: 40px auto 50px;
  padding: 0 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #777;
  -moz-box-shadow: 0 0 5px #777;
  box-shadow: 0 0 5px #777;
  position: relative;
}

body.contact div.racine { background: url('/images/customers/map-racine.png') no-repeat 0 top; }

body.contact div.profile div.office {
 position: absolute;
 left: -160px;
 top: 70px;
 text-align: center;
}

body.contact div.profile div.office img.arrow {
  position: absolute;
  left: 120px;
  top: -20px;
}

body.contact div.profile div.office a.thumbnails {
  display: block;
  width: 143px;
  height: 104px;
  background: url('/images/img-office.png') no-repeat 0 0;
  text-indent: -1000em;
}

body.contact div.profile div.office a.thumbnails:hover {
  background: url('/images/img-office.png') no-repeat 0 bottom;
}

body.contact div.profile div.office p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

body.contact div.profile div.help {
 position: absolute;
 width: 200px;
 left: 330px;
 top: 75px;
}

body.contact div.profile div.help img.arrow {
  margin-left: -250px;
}

body.contact div.profile div.help p, body.contact div.profile div.help li {
	font-family: "Lucida Grande",verdana;
  font-size: 11px;
  text-align: left;
}

body.contact div.profile div.help ul {
	margin: 0;
	padding: 0 0 0 18px;
}

body.contact div.profile div.help li {
	margin: 0 0 5px 0;
}

body.contact div.profile h2 {
  font-size: 21px;
  line-height: 1.0em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  margin: 5px 0 0 0;
  letter-spacing: normal;
}

body.contact div.profile p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 14px;
  color: #222;
  margin: 10px 0;
  line-height: 1.4em;
}

body.contact div.profile div.photo {
  overflow: hidden;
  padding: 5px 0;
}

body.contact div.profile div.photo img {
  margin: 10px;
  float: left;
  -webkit-box-shadow: 0 0 6px #333;
  -moz-box-shadow: 0 0 6px #333;
  box-shadow: 0 0 6px #333;
}

body.contact div.profile div.photo img.tilt-left {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  rotation: -5deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

/*----------------------------------------------------
SUBSCRIBE
----------------------------------------------------*/

body.subscribe h1 {
  margin-bottom: 40px;
}

body.subscribe form input[type=text] {
  background-color: #FDFEF1;
  font-family: courier, monospace;
  font-size: 14px;
  padding: 3px;
  width: 350px;
}

body.subscribe form label {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
}

body.subscribe form table {
  width: auto;
  margin: 0 auto;
}

body.subscribe form table td.checkbox {
  padding-top: 10px;
}

body.subscribe form table td.icon {
  padding-left: 10px;
}

body.subscribe form table td.item {
  text-align: left;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 12px;
  padding: 0 0 20px 10px;
}

body.subscribe form label {
  font-weight: bold;
}

body.subscribe form input[type=submit] {
  background-color: white;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  width: auto;
}

body.thanks div.container div.thanks {
  margin-bottom: 50px;
}

body.thanks div.container div.thanks p {
  font-size: 21px;
}

/*----------------------------------------------------
FOOTER
----------------------------------------------------*/

/* PRODUCTS */

div.footer div.products {
  clear: both;
  overflow: hidden;
  width: 755px;
  margin-left: -55px;
  margin-bottom: 20px;
}

div.footer div.products a.app {
  width: 160px;
  margin: 5px;
  float: left;
  padding: 0 10px;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.footer div.products a.app:hover h3 {
  color: #6699cc;
}

div.footer div.products a.app.end {
  margin-right: 0;
}

div.footer div.products a.app h3 {
  font-size: 21px;
  margin: 3px 0 0 10px;
  color: #222;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
}

div.footer div.products a.app h3 sup {
  color: #999;
  font-weight: normal;
  font-size: 11px;
}

div.footer div.products a.app h4 {
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #cc0000;
}

div.footer div.products a.app p {
  color: #666;
  font-size: 12px;
  line-height: 1.4em;
  margin-top: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* PRODUCTS */

div.footer {
  margin-bottom: 40px;
  width: 660px;
}

div.footer div.others {
  margin-left: -15px;
}

div.footer div.column {
  float: left;
  width: 300px;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
}

div.footer div.column.end {
  margin-right: 0;
  margin-left: 0;
}

div.footer h3 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 14px;
  margin: 5px 0;
  color: #c00;
}

div.footer div.column h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e8e8e8;
}

div.footer hr {
  margin: 30px 0;
}

div.footer ul { margin: 0; padding: 0; }

div.footer ul li {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.footer ul li.highlight { padding: 8px 0; font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif; }
div.footer ul li a { text-decoration: none; }
div.footer ul li.highlight a { font-size: 22px; font-weight: bold; font-style: normal; color: #222; }
div.footer ul li.highlight a:hover { color: #6699cc; }
div.footer ul li small { color: #666; font-size: 12px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; }

div.footer p {
  font-size: 10px;
  color: #999;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin-top: 50px;
}

/*----------------------------------------------------
RESPONSIVE CSS
----------------------------------------------------*/

/* iPhone */
@media only screen and (max-device-width: 480px) {
  h1 { font-size: 52px; }
  h2 { font-size: 42px; }
  body.index div.rework div.quotes h3 { line-height: 1.0em; margin: 10px 0; }
}

/* iPad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  h1 { font-size: 52px; }
  h2 { font-size: 42px; }
  body.index h5 { font-size: 18px; }
  body.index a.box div.product h1 { font-size: 42px; }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  h1 { font-size: 52px; }
  h2 { font-size: 42px; }
  body.index h5 { font-size: 18px; }
  body.index a.box div.product h1 { font-size: 42px; }
}
