<div id="content" class="container"> 
        
    <div id="tabWrapper">        
        <div id="tabs">            
         
				<% for badge in @badges %>				
				<%= link_to_unless_current(badge.name, rank_badge_path(badge.rank, badge)) {link_to badge.name, rank_badge_path(badge.rank, badge), :class =>
"nowactive" } %>
				<% end %>
				
			
                    
        </div>        
    </div>    
    
    <div> 
        
        
    </div>    
    
    
    
    
     <%for achievement in @achievements%>
    <div class="achieveBlock"> 
        <div class="achieveTitleWrapper"> 
            <span class="achieveTitle"><%=achievement.name%></span>
        </div> 
        <div> 
            
 
        </div> 
        

        
       <%for task in achievement.tasks%>
        <div class="taskBlock"> 
            <div class="span-1">
            	<img src="/images/flameColor.png" alt="" />
            	
        	</div> 
            <div class="span-23 last"> 
                
         		<% if current_user %>
  					Insert Checkbox 
				<% else %>
			  		<p><%=task.description%></p> 
				<% end %>
            </div>            
        </div> 
        <%end%>
        	
     
        
   
    </div> 
       <%end%>
    </div>