   <!-- <iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=http%3A%2F%2F" + <%= CGI::escape(request.env['HTTP_HOST']) %> + "%2Fusers%2Fcreate"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe> -->
  <!--  <div id="login"><iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fcreate"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe> </div>-->
 
  <div id="login" class="container">
	<div class="span-5 ">
		We use <a href="http://openid.net/">OpenID</a> so you can login securely from your favorite site. No need to create an account with us.
	</div>
  	<div class="span-12 last"> 
  		<iframe src="http://bragvest.rpxnow.com/openid/embed?token_url=<%=CGI::escape(url_for(:action => 'create', :controller => 'users', :only_path => false))%>"  scrolling="no"  frameBorder="no"  allowtransparency="true"  style="width:400px;height:240px"></iframe>   		
	</div>
</div>

