    <div id="footerWrapper"> 
        <div id="footer" class="container"> 
            <div class="span-8 prefix-1"> 
                <div class="header"> 
                    Bragging Socially
                </div> 
                <div> 
                    <a href="http://twitter.com/bragvest"><img src="/images/social/twitter.png" alt="" /><span>Follow us on Twitter</span></a> 
                </div>                
            </div> 
            <div class="span-8 suffix-7 last"> 
                <div class="header"> 
                    Cub Scout Ranks
                </div> 
                <div> 
                   <ul> 
		                       <% for rank in @ranks %>

	                            <li><%= link_to rank.name, rank.name %></li> 

	                         
								<% end %>

	                    </ul> 

                </div> 
            </div> 
            <div class="span-8 prefix-1"> 
                &copy; 2009 bragvest.com
            </div> 
            <div class="span-14 suffix-1 last"> 
                BragVest.com is not associated with or endorsed by the <a href="http://www.scouting.org/">Boy Scouts of America</a>.
            </div> 
        </div> 
    </div> 
    <script type="text/javascript"> 
    //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]> 
    </script> 
    <script type="text/javascript"> 
    //<![CDATA[
        try {
            var pageTracker = _gat._getTracker("UA-9006604-1");
            pageTracker._trackPageview();
        } catch (err) { }
    //]]> 
    </script>    