<ul> 
		                       <% for rank in @ranks %>

	                          
	                          
									<li><%= link_to rank.name, rank %></li>
	                         
								<% end %>
								
								
								

	                    </ul> 
