<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
 
<head>    
    <title>BragVest - Cub Scout achievement tracking</title> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
    <meta name="language" content="en" />  
    <meta name="description" content="Cub Scout achievement guide." />  
    <meta name="keywords" content="cub, scout, achievement, badges, ranks, tiger, wolf, bear, webelos, webelos1, webelos2" />  
    <link rel="favicon" href="/favicon.ico"/> 
    <meta name="verify-v1" content="n9VfZO6zfmyb7TJCYbgRtAOP1AYoe8f9NjPQ3bNtSyw=" /> 
    <link rel="stylesheet" href="/stylesheets/screen.css?v=2" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" /> 
    <!--[if IE]>
        <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]--> 
    <link rel="stylesheet" href="/stylesheets/style.css?v=2" type="text/css" media="screen, projection" />        
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script> 
  <script type="text/javascript" src="/javascripts/jquery.quovolver.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.sidecontent.js?v=2"></script>
	
	<!-- JavaScript Test Zone -->
	<script type="text/javascript">
	$(document).ready(function() {
		
		$('blockquote').quovolver();
$(".side").sidecontent({
    classmodifier: "sidecontent",
    attachto: "rightside",
    width: "400px",
    opacity: "1.0",
    pulloutpadding: "5",
    textdirection: "vertical"
});
  
	});
	</script>
</head> 
<body id="homeBody">       
	    <script type="text/javascript">
if (typeof Meebo == 'undefined') {
Meebo=function(){(Meebo._=Meebo._||[]).push(arguments)};
(function(q){
	var args = arguments;
	if (!document.body) { return setTimeout(function(){ args.callee.apply(this, args) }, 100); }
	var d=document, b=d.body, m=b.insertBefore(d.createElement('div'), b.firstChild), s=d.createElement('script');
	m.id='meebo'; m.style.display='none'; m.innerHTML='<iframe id="meebo-iframe"></iframe>';
	s.src='http'+(q.https?'s':'')+'://'+(q.stage?'stage-':'')+'cim.meebo.com/cim/cim.php?network='+q.network;
	b.insertBefore(s, b.firstChild);

})({network:'bragvest_xo37ti'});
}
</script> 
    <div id="homeContentWrapper">    
        &nbsp;
        <div id="homeBanner"> 
            <div class="container"> 
                <div id="homeBranding" class="span-12"> 
                    <img src="/images/logoBig.png" alt="" />                    
                    <div> 
                        BragVest provides an easy to reference Cub Scout achievement guide.
                    </div> 
                </div> 
                <div id="homeScoutLinks" class="span-9 prefix-3 last"> 
                	<%if current_user%>
                	Hello <%= current_user %>, <br /><br />
                	Choose a Rank:
                		<%=yield%>
                	<%else%>
                	BragVest lets you:
                	<span id="checkList">
                		<ul>
                			<li>View tasks for each rank</li>
                			<li>Check-off tasks when complete</li>
                			<li>See tasks on your phone</li>
                		</ul>
                    </span>
                	<%end%>
                    
						
						
						<% if current_user %>
   If you're done, <%= link_to 'logout',{:action => :destroy, :controller => :users} %>
<% else %>
 <div id="nohover">
<a href="choose.htm" rel="0" ><img src="images/GetStarted.png"></img></a>
</div>
<% end %>
	                </div>
                   
            </div> 
        </div> 
        
        <div id="homeContent" class="container"> 
            <div id="homeFactsWrapper" class="span-24 last"> 
                <div class="span-14"> 
                    <div class="span-7"> 
                        <div><b>WHAT?</b></div> 
                        <div> 
                            BragVest is THE place to <b><i>track all of your Cub Scout achievements!</i></b> We list all of the achievements for your 
                            rank, and you can check them off as you complete them. What could be easier?
                        </div> 
                    </div> 
                    <div class="span-7 last"> 
                       <div><b>Stay Current!</b></div> 
                       <div> 
                         Sign up for our FREE newsletter to stay current on Scouting and Technology.
                        <a href="http://eepurl.com/bMr0T"><img src="images/newsletter.png"></img></a>
                       </div>                   
                    </div> 
                    <div class="span-14 last" style="margin-top: 30px"> 
                       
                                            
                    </div> 
                </div> 
                <div class="span-9 prefix-1 last"> 
                    <div> 
                        <b>The Latest Buzz!</b> 
                    </div> 
                    <div class="span-4"> 
                      <blockquote> 
                        <p>I love the idea of this app. Being able to track all of my sons achievements is wonderful.</p>	
                        <cite>&ndash; traquino98</cite> 
                      </blockquote> 

                      <blockquote> 
                        <p>This is a great tool to have on your phone...I'm actually surprised there aren't more apps like this! THANK YOU!</p> 
                        <cite>&ndash; OperaBound</cite> 
                      </blockquote> 

                      <blockquote> 
                        <p>This is a simple app that's easy to use. Every Cubmaster should have this on their phone</p> 
                        <cite>&ndash; kodebunny</cite> 
                      </blockquote> 

                      <blockquote> 
                        <p>As a Cubmaster I get put on the spot a lot by parents who seem to believe that I have memorized every rank requirement by heart. Finally I can just whip out the iPhone instead of digging through my bag!</p> 
                        <cite>&ndash; The Long Haired Leaping Gnome</cite> 
                      </blockquote> 
                      <blockquote> 
                        <p>This thing is GREAT!!! I'm excited about updates!</p> 
                        <cite>&ndash; Grifterq</cite> 
                      </blockquote> 
                      <blockquote> 
                        <p>I love this app!! It keeps all of my little scouter's info available to me no matter where I am!!</p> 
                        <cite>&ndash; ScouterStepMom83</cite> 
                      </blockquote> 
                    </div> 
                    <!-- <div class="span-5 last" style="margin-top: 20px"> 
                        <p> 
                            Track cub scout achievements on your iPhone.<br />
                            <a href="iphone.html">Get it now!</a> 
                        </p> 
                        
                      </div> -->
                  </div>
            </div> 
        </div>        
    </div>    
    
			<div class="side" title="Choose"> 
				<h2>Which BragVest do you want?</h2> 
                <div class="sidepanel">
                  <a href="iphone.html"><img src="/threefold/app_logo.png" /></a>
                    iPhone
                </div>
                <div class="sidepanel">
                <a href="/users/new/"><img src="/threefold/ie-logo.png" /></a> 
                 Web
                </div>
                <div class="sidepanel">
                <img src="/threefold/android-logo.png" />Android (coming soon)
                </div>
			</div> 
    <div id="footerWrapper"> 
        <div id="footer" class="container"> 
            <div class="span-8 prefix-1"> 
                <div class="header"> 
                    Bragging Socially
                </div> 
                <div>
                	<ul> 
                    <li><a href="http://twitter.com/bragvest"><img src="/images/social/twitter.png" alt="" /><span>Follow us on Twitter</span></a> </li>
                    <li><a href="http://www.facebook.com/pages/BragVest/346142438428?ref=ts"><img src="/images/social/facebook.png" alt="" /><span>Follow us on Facebook</span></a></li>
                    </ul>
                </div>                
            </div> 
            <div class="span-8 suffix-7 last"> 
                <div class="header"> 
                    Cub Scout Ranks
                </div> 
                <div> 
                    <%=yield%>
                </div> 
            </div> 
            <div class="span-8 prefix-1"> 
                &copy; 2010 bragvest.com
            </div> 
            <div class="span-14 suffix-1 last"> 
                BragVest.com is not associated with or endorsed by the <a href="http://www.scouting.org/">Boy Scouts of America</a>.
            </div> 
        </div> 
    </div> 
    <script type="text/javascript"> 
    //<![CDATA[
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]> 
    </script> 
    <script type="text/javascript"> 
    //<![CDATA[
        try {
            var pageTracker = _gat._getTracker("UA-9006604-1");
            pageTracker._trackPageview();
        } catch (err) { }
    //]]> 
    </script> 
    <script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'bragvest',
  host: 'bragvest.uservoice.com', 
  forum: '42911',
  showTab: true,  
  /* optional */
  alignment: 'left',
  background_color:'#f00', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>

<script type="text/javascript">
 	Meebo("domReady");
</script> 
</body> 
</html>
